body {
    font-family: 'Comfortaa', sans-serif;
    background-color: #A7D1EB;
    margin: 0;
    padding: 0;
  }
  
  .home-container {
    text-align: center;
    padding: 50px 20px;
  }
  
  .welcome-title {
    font-size: 3em;
    color: #362121;
    margin-bottom: 10px;
  }
  
  .welcome-subtitle {
    font-size: 1.5em;
    color: #555;
    margin-bottom: 40px;
  }
  
  .cards-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin-top: 30px;
    padding: 0 20px;
  }
  
  /* Style des cartes */
  .card {
    background-color: #f4dada;
    border-radius: 15px;
    height: 200px;
    padding: 20px;
    text-decoration: none;
    color: #333;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease, background-color 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .card:hover {
    transform: translateY(-10px);
    background-color: #a877b6;
    color: white;
  }
  
  .card h2 {
    margin-bottom: 15px;
    font-size: 1.8em;
  }
  
  .card p {
    font-size: 1.1em;
  }


  #deconnection{
    background-color: #f4dada ;
    color: black;
    cursor: pointer;
    border:1px solide #a877b6; 
    border-radius: 2px;
    height: auto;
    width: 200px;
    text-align: center;
  }
  #deconnection:hover{
    background-color: #8c3473 ;
    color: black;
    cursor: pointer;
    border:1px solide #a877b6; 
    border-radius: 2px;
    height: auto;
    width: 200px;
    text-align: center;
    transform: scale(1.08);  
  }
  
  /* Responsive pour téléphone */
  @media (max-width: 768px) {
    .cards-container {
      grid-template-columns: 1fr;
    }
  }