/* quiz_style.css */

body {
    font-family: 'Comfortaa', sans-serif;
    background-color: #A7D1EB;/* Couleur de fond claire, similaire au dashboard */
    color: #333; /* Couleur de texte principale */
    margin: 20px; /* Ajoute une marge autour du contenu */
}

h1 {
    color: #a877b6; /* Couleur d'accentuation, similaire au dashboard */
    text-align: center;
    margin-bottom: 30px;
}

p#timer {
    font-size: 1.2em;
    color: #151515; /* Couleur pour indiquer le temps */
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}

#quiz-form {
    background-color: #f4dada;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
}

.question {
    margin-bottom: 30px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color:#a877b6;
}

.question p {
    font-size: 1.1em;
    color: #362121;
    margin-bottom: 15px;
}

.question label {
    display: flex;
    margin-bottom: 10px;
    font-size: 1em;
    color: #000000;
    cursor: pointer;
}

.question input[type="radio"] {
    margin-right: 8px;
}
/* 
.next-btn,
#quiz-form button[type="submit"] {
    background-color: #020912; 
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.next-btn:hover,
#quiz-form button[type="submit"]:hover {
    background-color: #7a99bb;
}

.next-btn {
    margin-top: 15px;
}

#quiz-form button[type="submit"] {
    display: block;
    width: 100%;
    margin-top: 20px;
} 
*/

/* Adaptation pour s'intégrer potentiellement dans une partie du dashboard */
/* Si le quiz doit être intégré dans une section spécifique du dashboard, */
/* vous pourriez avoir besoin d'ajuster les marges et la largeur max. */
/* Par exemple: */
/*.dashboard-section #quiz-form {
    max-width: none; !* Enlever la largeur max si dans une section *!
    margin: 20px 0;
}*/


.reponses {
    display: grid; /* Utilisation de Grid pour un placement facile sur deux lignes */
    grid-template-columns: auto auto; /* Deux colonnes de largeur automatique */
    gap: 10px 20px; /* Espacement entre les lignes et les colonnes */
    margin-bottom: 15px;
}

.reponses label {
    display: block; /* Chaque label occupe une ligne dans sa colonne */
    margin-bottom: 5px; /* Espacement entre les labels */
}

.navigation-buttons {
    display: flex;
    gap: 10px; /* Espacement entre les boutons */
    margin-top: 15px;
}

.prev-btn, .next-btn, button[type="submit"] {
    margin-left: 10px;
    padding: 5px 10px;
    background-color:  #f4dada;
    border: none;
    cursor: pointer;
    border-radius: 3em;

}

.prev-btn:hover, .next-btn:hover, button[type="submit"]:hover {
    background-color: #ddd;
    color: black;
    transform: scale(1.08);
    

}